* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover {
    color: crimson;
    font-weight: bold;
}

.alink1 {
    card text-decoration: none;
    color: white;
}

.alink1:hover {
    color: crimson;
}

.alink2 {
    text-decoration: none;
    color: white;

}

.alink2:hover {
    color: black;
}

.logo {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.mainTitle {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
}

.subTitle {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 20px;
}

.subTitle_loc {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
}

.subTitle_info {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
}

.address {
    text-align: center;
    padding-bottom: 50px;
}

.card-title {
    font-weight: bolder;
}

.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.galleryTitle {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.locationTitle {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 20px;
}

.intro {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
}

.introText {
    line-height: 5rem;
    color: dimgrey;
}

.location {
    width: 100%;
    height: auto;
}

.img {
    height: 100%;
    width: 100%;
}

.box {
    background-color: crimson;
    text-align: center;
}

.titleBox {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 35px;
    font-style: normal;
}

.link {
    font-family: "Anton", sans-serif;
    font-size: 25px;
    font-style: normal;
}

.card {
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}

.container-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.icon {
    margin: 0 10px;
}

@media screen and (min-width: 1200px) {
    .introText {
        font-size: 100px;
        line-height: 7rem;
    }

    .subTitle {
        font-size: 70px;
        margin-top: -150px;
    }

    .subTitle_loc {
        font-size: 70px;

    }

    .subTitle_info {
        font-size: 70px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    .mainTitle {
        font-size: 85px;
    }

    .subTitle {
        font-size: 50px;
        margin-top: -150px;
    }

    .subTitle_loc {
        font-size: 50px;

    }

    .subTitle_info {
        font-size: 50px;
    }

    .introText {
        font-size: 60px;
        line-height: 4rem;
    }
}


@media screen and (max-width: 767px) {
    .mainTitle {
        font-size: 50px;
    }

    .subTitle {
        font-size: 50px;
        margin-top: -150px;
    }

    .subTitle_loc {
        font-size: 50px;
    }

    .subTitle_info {
        font-size: 50px;
    }

    .introText {
        font-size: 50px;
        line-height: 3.5rem;
    }
}